.formContainer {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    row-gap: 16px;
}

.errorMessage {
    color: red;
    margin-top: 8px;
    text-align: center;
}

.message {
    color: green;
    margin-top: 8px;
    text-align: center;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}
